@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    /* Add the font-display property */
    font-display: swap;
  }
  
  body {
    font-family: 'Roboto', Arial, sans-serif;
      display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ee7752, #e73c7e 25%, #23a6d5 50%, #23d5ab 75%, #a622d5);
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    position: relative;
    perspective: 1000px;
}

.profile-image {
    border: 3px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    background-color: white;
    width: 350px;
    padding: 2rem;
    padding-top: 4rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.1s, box-shadow 0.1s;
    will-change: transform;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.name {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.title {
    font-size: 1.2rem;
    color: #6e6e6e;
    margin-bottom: 1rem;
    font-weight: 300;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icon {
    color: #6e6e6e;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #23a6d5;
}
